About.css

*
{
  margin-bottom:50px ;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black ;
  width: 100%;
}
.about-page{
  background-color:black;
  box-sizing: border-box;
}

h1 {
  padding-top: 30px;
  color:#1d62df;
  text-align:left;
  margin-left: 20px;
  margin-bottom:18px;
}
.ab-content{
  display: flex;
  gap: 30px;
  flex: content;
  flex-direction: row;
  justify-content:space-between;

}
.ab-content p{
  text-size-adjust: 600px;
}
#abimage{
  margin: 40px;
  padding: 15px;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  border: 1px solid white ;
}


.ab-content, .mission, .digdiff, .corevalue, .getting {
  margin-bottom: 18px;
  text-align: left;
  
}

.pp {
  line-height:2;
  /* color: #786c6c; */
  color:white;
  font-size: 20px;
  /* font-weight: 800; */
  text-align:justify;
  margin-bottom: 50px;
}
.corevalue{
  display:flex;
  flex: content;
  flex-direction: row;
  justify-content:space-between;
}
#ff
{
  text-align: center;
}
.key
{
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
}
.mission{
  display: flex;
  gap: 30px;
  flex: content;
  flex-direction: row;
  justify-content:space-between;
}
.mission h1 {
  color:#1d62df; 
  text-align: left;
  
}
.mission p{
  margin-right: 40px;

}
#miss{
  margin: 30px;
  padding: 15px;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  border: 1px solid white ;

}

.digdiff{
  display: flex;
  gap: 30px;
  flex: content;
  flex-direction: row;
  justify-content:space-between;
}
.digdiff h1 {
  color:#1d62df; 
  text-align: left;

}
#diff{
  margin: 40px;
  padding: 15px;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  border: 1px solid white ;
}

.corevalue h1 {
  color:#1d62df; 
  margin-bottom: 30px;
  text-align: left;

}
.corevalue h2{
  color:#679ad0;
  margin-bottom: 6px;
}
.corevalue p{
  margin-bottom: 25px;
}
.corevalue{
  margin-bottom: 110px;
}



.divider{
  border-top: 2px solid #ccc;
  margin: 20px 0;
  margin-bottom: 40px;
}
.getting h1 {
  
  color:#007bff; 
  text-align: left;
  margin-bottom: 30px;

}


.getting{
  background-color: black;
  display: block;
  width:100%;
  height:300px;
  
}
.getting p{
  
  text-align:justify;
  color:aliceblue;

}
#get{
  margin-left:20px ;
  margin-right:20px ;
}
#p{
  text-align:center;
}
#support{
  text-align: center;
  color: black;
  background-color: black;
  border-bottom: black;
  text-size-adjust: 200px;
}
#pleft{
  margin-left: 20px;
}

  
 
   
  